* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.message-pool {
    border: 1px #000000 solid;
    height: 200px;
    width: 200px;

    overflow-y: scroll;
}

.message-input {
    width: 200px;
}